body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffe6f0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.envelope{
    width: 340px;
    height: 220px;
    background: #ffb3c7;
    border-radius: 16px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    perspective: 1000px;   /* IMPORTANT FIX */
}

.flap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background: #ff7aa2;
    clip-path: polygon(0 0, 100% 0, 50% 100%);

    transform-origin: top;
    transition: transform 0.5s ease;
}

/* Open Button */
.open-btn{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 28px;
    border: none;
    border-radius: 12px;
    background: #ff2f74;
    color: rgb(28, 25, 25);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.6s ease;
}

.open-btn:hover{
    transform: translateX(-50%) scale(1.05);
}

#openLetter{
    display: none;
}

.envelope-area{
    position: relative;
}

/* popup */
.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.popup-box{
    background: white;
    padding: 30px;
    width: 340px;
    border-radius: 18px;
    text-align: center;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.close-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 22px;
    background: #333;
    color: white;
    border-radius: 12px;
    text-decoration: none;
}

/* MAGIC */
#openLetter:checked ~ .envelope-area .flap{
    transform: rotateX(180deg);
}

#openLetter:checked ~ .envelope-area .popup{
    opacity: 1;
    pointer-events: auto;
}

#openLetter:checked ~ .envelope-area .popup-box{
    transform: scale(1);
  }
